:root {
  --primary-color: #00762c;
}

/* Public Styles CSS Codes */
.product_meta span.posted_in {
  display: none !important;
}

.custom-product-options {
  margin-top: 20px;
  width: 100%;
}

.dropdown-group,

.quantity-field {
  width: 60%;
}

.unit-measurement-wrapper{
  width: 60%;
}

/* .quantity-field {
  width: 50%;
} */

.quantity-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-unit-wrapper {
  margin-top: 5px;
}

.custom-product-options label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.selected-price h3 {
  color: var(--primary-color);
}

.custom-product-options select,
.custom-product-options input {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

#custom-add-to-cart {
  margin-top: 5px;
  width: 100%;
  text-transform: uppercase;
  height: 50px;
  font-size: 14px;
  vertical-align: middle;
  padding: 19px 22px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#custom-add-to-cart:hover {
  background-color: var(--primary-color);
}

.col-xs-12.col-md-3.col-md-pull-9 {
  display: none;
}

/* loader */
.loader-spinner {
  width: 20px;
  height: 20px;
  border: 2px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hide existing add to cart */
.woocommerce ul.products li.product .button {
  display: none;
}
.eael-star-rating.star-rating {
  display: none !important;
}
form.cart {
  display: none;
}

.wef-d-none {
  display: none;
}
/* end: hide existing add to cart */

.wef-bold {
  font-weight: bold;
}

@media only screen and (max-width: 500px){
	/*Small smartphones [325px -> 425px]*/
  .unit-measurement-wrapper{
    width: 85%;
  }

  #wef-quantity{
    padding: 8px !important;
  }

  #custom-add-to-cart{
    width: 80%;
    height: 40px;
    font-size: 12px;
    margin-top: -13px !important;
  }
}